# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# result files
*.json
*.pdf

src/main
src/spanning_forest
src/analyze/
src/.ipynb_checkpoints/
.DS_Store

src/assign_qubits.cpp
src/main.cpp
src/print
